/* HAS NO USE IN THE WEBSITE*/
/* STYLE SECTIONING TAGS */
/*{
  margin: 0px;
  padding:0px;
}
body {
  background-color: #F2F2F2;
  font-family: Georgia;
  text-align: center;
}
STYLE TEXT */
/*#mainimg {
  max-width: 25%;
  max-height: 65%;
  border-radius: 10px;
  border: 10px solid #8C4660;
  top: 15%;
  left: 0px;
  margin-bottom: 20px;
} 

main {
  color: #8C4660;
  margin:0 10% 0 10%;
}
p{
  padding: 20px;
}
h1 {
  color: #252940;
  font-family: Gabriola;
  text-align: center;
  font-size: 40px;
}

.sideimg{
  width: 30%;
  border-radius: 20%;
  text-align: center;
  border: 5px solid #8C4660;
  padding: 5px;
}
ol{
  list-style-type: none;
  background-color: #8C4660;
  overflow: hidden;
  padding: 1em;
}
li{
  display: inline;
}
li a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
}
li a:hover{
  background-color: #252940;
}
button {
	margin-top: 5px;
	border-radius: 20px;
	padding: 10px;
	background-color: #0C6291;
	color: #FBFEF9;
	display: block;
	margin: 0 auto;
	font-size: 15px;
}
a:visited {
  color: #FBFEF9;
}
*/